<!DOCTYPE html>
<html>
<head>
    <title>联系我们</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div id="main">
    <!--导航栏-->
    <div id="nav">
        <a href="../index.html"><img class="img_iff" src="../img/iff.png"/></a>
        <p></p>
        <ul>
            <li><a class="alink" href="about.html">关于我们About</a></li>
            <li><a class="alink" href="star.html">股东结构Shareholders </a></li>
            <li><a class="alink" href="project.html">投资项目Portofolio</a></li>
            <li class="right_li"><a class="alink" href="contact.html" style="background-color:#CDCDCD;color:#fff;">联系我们Contact</a></li>
        </ul>
    </div>
    <div style="clear: both"></div>
    <!--展示图片-->
    <div id="img_sell">
        <img src="../img/banner3.png" style="width: 100%"/>
    </div>
    <!--内容显示区域-->
    <div id="main_con" style="position: relative">
        <p style="font-size: 50px;">CONTACT</p>
        <p style="font-size: 30px;">联系我们</p>
        <p style="height: 30px;color:#7C7C7C"><p>Tel (电话): (852) 3691 8787 &nbsp;&nbsp;&nbsp;Fax (传真): (852) 3691 8829</p>
        <p style="height: 30px;color:#7C7C7C;margin-top: 5px;">香港中环夏悫道10号和记大厦419-420室</p>
        <p style="height: 30px;color:#7C7C7C">Room 419-420,Hutchison House,10 Harcourt Road,Central,Hong Kong</p>
    </div>
<!--
    <div style="position: absolute;margin-left: 800px;margin-top: -100px;">
        <a href="mailto:xxxx@163.com">
            <img  src="../img/邮件.png">
        </a>
    </div>-->
</div>

</body>
</html>