<!DOCTYPE html>
<html>
<head>
    <title>股东结构</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css"/>
    <script type="text/javascript" src="../js/jquery-1.11.1.js"></script>
    <style>
        img{border:none}
    </style>
</head>
<body>
<div id="main">
    <!--导航栏-->
    <div id="nav">
        <a href="../totle.html"><img class="img_iff" src="../img/iff.png"/></a>
        <ul>
            <li><a class="alink " href="about.html">关于我们About</a></li>
            <li><a class="alink" href="star.html" style="background-color: #CDCDCD;color:#fff">股东结构Shareholders</a></li>
            <li><a class="alink" href="project.html">投资项目Portofolio</a></li>
            <li class="right_li"><a class="alink" href="contact.html">联系我们Contact</a></li>
        </ul>
    </div>
    <div style="clear: both"></div>
    <!--展示图片-->
    <div id="img_sell">
        <img src="../img/banner4.png" style="width: 100%"/>
    </div>
    <!--内容显示区域-->
    <div id="text_main11">
        <!--侧边栏-->
        <div id="aside_start">
            <div class="p_mag p_mag1">
                <p>SHAREHOLDERS</p>
                <p>股东结构</p>
            </div>
            <div class="p_mag pmag2">
                <p><a href="#china" style="color:#757575;text-decoration:none;">中民国际</a></p>
                <p><a href="#china" style="color:#757575;text-decoration:none;">China Minsheng</a></p>
                <p><a href="#china" style="color:#757575;text-decoration:none;">Investment Corp.,Ltd</a></p>
                </p>
            </div>
            <div class="p_mag pmag2">
                <p><a href="#guanf" style="color:#757575;text-decoration:none;">广发证券</a></p>
                <p><a href="#guanf" style="color:#757575;text-decoration:none;">GF Securities</a></p>
            </div>
            <div class="p_mag pmag2">
                <p><a href="#lingr" style="color:#757575;text-decoration:none;">瓴睿资本</a></p>
                <p><a href="#lingr" style="color:#757575;text-decoration:none;">LRC</a></p>
            </div>
        </div>
        <!--右边栏-->
        <div id="rightinfo11">
            <div class="rg_main">
                <div class="lg_txt">
                    <p class="p1_ab">SHAREHOLDERS</p>
                    <p>股东结构</p>
                    <p style="font-size: 16px;color: #000">中国互联网金融科技基金由中民国际，广发证券和瓴睿资本共同发起成立。</p>
                </div>
                <div class="positiong">
                    <p><a name="china">中民国际</a></p>
                    <p>China Minsheng</p>
                    <p>Investment Corp.,Ltd</p>
                    <div class="tex_posit">
                        中民国际为中国民生投资股份有限公司（“中民国际”）的子公司。作为中民国际的国际投资旗舰，中民国际专注于“走出去、引进来”的双向跨境投资和国际投资，拟推动越来越多的中国乃至亚洲企业成为世界级的优秀企业。中民国际的母公司－－中民国际于2014年5月9日在上海注册成立, 注册资本500亿元人民币，是一家由全国工商联牵头组织、由五十九家知名民营企业发起设立的大型投资公司。作为中国最大的民营投资公司，中民国际聚合资本力量、发挥机制优势，立志于引领和推动中国民营企业的经济转型升级
                    </div>
                    <div class="tex_posit2">
                        CM International Capital Limited (CMIC) is a wholly owned subsidiary of China Minsheng Investment Corp., Ltd. (“CMI”). As CMI’s international investment flagship, CMIC focuses on bilaterally cross-border investments -“going out” and “bring in”, and on international investments, and aims to push forward more and more domestic and even Asia’s enterprises to become the word-class ones. CMIC’s parent company CMI was founded in Shanghai in May 2014, with a registered capital of RMB50 billion. CMI was established through the leadership of the All-China Federation of Industry and Commerce (ACFIC) and launched by 59 prestigious private enterprises. Being China’s largest private investment company, CMI takes its shoulder to lead and drive private enterprises’ industrial transformation and upgrading through intergrading the power of capital and giving full play to advantages of mechanism.
                    </div>
                </div>
                <div class="positiong">
                    <p><a name="guanf">广发证券</a></p>
                    <p>GF Securities</p>
                    <div class="tex_posit">
                        广发投资是广发证券股份有限公司（“广发证券”）的全资附属子公司，主要从事私募股权投资业务。广发证券是中国最大的非国有控股的证券公司，也是专注于中国优质中小企业及富裕人群、拥有行业领先创新能力的资本市场综合服务商，为企业、个人及机构投资者、金融机构及政府客户提供多元化业务服务，主要业务包括：投资银行、财富管理、交易及机构客户服务、投资管理业务，各项核心业务均处于行业领先地位。广发证券在深圳证券交易所和香港联交所上市，截至2015年8 月17日，广发证券的市值达1,448亿人民币
                    </div>
                    <div class="tex_posit2">
                        GF Investment is a wholly-owned subsidiary of GF Securities and is mainly engaged in private equity
                        investment. GF Securities (HK-1776 and SZ-000776) is the largest non-SOE securities firm in China and possess the largest asset management platform in the China securities industry. It is a full service investment bank with integrated securities brokerage services that target small and medium-sized enterprises and high net worth individuals. It offers diversified services to individual and institutional investors. Its main services includes: investment banking, wealth management, retail and institutional service, investment management. It is considered as an industry pioneer for its core services. GF securities is listed on the Shenzhen Stock Exchange and the Hong Kong Stock Exchange. As of 17 August 2015, GF Securities’ market capitalisation stood at RMB 145 billion.
                    </div>
                </div>
                <div class="positiong">
                    <p><a name="lingr">瓴睿资本</a></p>
                    <p>LRC</p>
                    <div class="tex_posit">
                        瓴睿资本是一家专业的全球性投资及另类资产管理机构，在香港、中国和北美等地区均设有办公室。瓴睿资本集团致力于打通及联动中国及全球市场的资源及资本，专注于在发达经济体和发展中国家重点行业的投资，其中包括金融机构、新能源和新科技产业等领域
                    </div>
                    <div class="tex_posit2">
                        LRC is a global investment and alternate asset manager with offices in North America, Hong Kong
                        and China. LRC links resources and capital by connecting China and international markets, with focuses in a wide range of sectors, mainly financial services, new energies, and technologies, and in both developed and developing economies.
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div style="clear: both"></div>
    <div id="footer">
        <div class="fot_lef" >
            <p>Tel (电话): (852) 3691 8787 &nbsp;&nbsp;&nbsp;Fax (传真): (852) 3691 8829</p>
            <p>香港中环夏悫道10号和记大厦419-420室</p>
            <p>Room 419-420,Hutchison House,10 Harcourt Road,Central,Hong Kong</p>
            <p>中国互联网金融科技投资咨询(香港)有限公司</p>
            <p>China FinTech Investment Advisory Hong Kong Limited</p>
        </div>
        <div class="fot_rg" style="position: relative">
            <div style="position:absolute;top:80px;left: -370px;">
                <a id="boxs">
                    <img src="../img/top.gif" style="width: 100px;"/>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#boxs').click(function(){
            $('html,body').animate({scrollTop: $('#nav').offset().top}, 1500);
        })
    });
</script>
</body>
</html>